body{
    background-image: url("image.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
 .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu button {
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: yellowgreen;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background-color: rgb(11, 133, 11);
  color: white;
}
#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 1000;


}

#controls button {
  font-size: 25px;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(207, 238, 9, 0.53);
  border-color: rgb(2, 23, 2);
}
}

